.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 32px;
}

.main p {
    margin-top: 16px;
}

.socialLinks {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.socialLinks a {
    margin: 0 8px;
}
